<div class="container mt-4">
    

    <h2 class="mt-5">All Posts</h2>
    <div class="row">
       
      @for (post of postService.userPosts() ; track post.id) {
        <div class="col-md-4 mb-4">
          <div class="card">
            @if (post.imageUrl) {
              <img [src]="apiUrl + post.imageUrl" class="card-img-top" alt="Post image">
            }
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text"><small class="text-muted">{{ post.createdAt | date }}</small></p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>